{% extends "alienartifacts/layout.html" %}

{% block body %}

    <h1 style="text-align:center">INFORMATION SHEET FOR RESEARCH</h1>

    <h1 style="text-align:center">Cognition and Web-based Neurodevelopmental Assessment (COG-WEB) Study&nbsp;</h1>

    <p>You are invited to be in a research study using web-based measures to better understand behavioral and cognitive functioning of individuals with and without neurodevelopmental disorders (NDDs). &nbsp;You are being asked to participate because you are a Prolific worker interested in this study. We ask that you read this form and ask any questions you may have before agreeing to be in the study.</p>

    <p>This study is being conducted by:&nbsp;</p>

    <p>Investigator Name: Dr. Suma Jacob<br />
    Department: Psychiatry &amp; Behavioral Sciences, University of Minnesota<br />
    Phone Number: 612-625-8448<br />
    Email Address: <a href="mailto:sjacob@umn.edu" style="font-size:inherit">sjacob@umn.edu</a></p>

    <h1>Procedures:</h1>

    <p>If you agree to be in this study, you will be asked to complete online surveys that include a form characterizing family and demographic information and well as questionnaires about your wellbeing and functioning in everyday life. You will also be asked to complete some web-based computer tasks. &nbsp;&nbsp;</p>

    <h2>Confidentiality:</h2>

    <p>We will not collect any identifying information such as your name. It is a possible that your Prolific worker ID is linked to your public profile, however, worker IDs will only be collected for the purposes of distributing compensation. Furthermore, only the researchers involved in this study and those responsible for research oversight will have access to the worker IDs and other information you provide. The worker IDs will never be posted or published. Therefore, while your responses in the study are anonymous, your participation is confidential.&nbsp;</p>

    <h2>Voluntary Nature of the Study:</h2>

    <p>Participation in this study is completely voluntary. &nbsp;You are free to decline to participate, and to end participation at any time for any reason. Refusing to participate will involve no penalty or loss of benefits to which you are otherwise entitled. By providing consent, you have not given up any of your legal rights.</p>

    <h2>Will I be compensated for my participation?</h2>

    <p>If you agree to take part in this research study, we will pay you $4.00 for successfully completing each section of the study via your Prolific worker ID, for a total of $20.00 if all sections are completed. We estimate each section will take approximately 15-20 minutes and completing all sections of the study may take 45-60 minutes. &nbsp;</p>

    <h2>Contacts and Questions:</h2>

    <p>The researchers conducting this study is are: Dr. Suma Jacob and Dr. Warren Pettine. If you have any further questions about this study, please email Dr. Pettine at <a href="mailto:warren.pettine@yale.edu?subject=Questions%20about%20COG-WEB%20Study" style="font-size:inherit">warren.pettine@yale.edu</a> or call the Converging Approaches to Neurodevelopment (CAN) Lab at 612-625-8448.</p>

    <p>This research has been reviewed and approved by an IRB within the Human Research Protections Program (HRPP). To share feedback privately with the HRPP about your research experience, call the Research Participants&rsquo; Advocate Line at 612-625-1650 (Toll Free: 1-888-224-8636) or go to z.umn.edu/participants. You are encouraged to contact the HRPP if:</p>

    <p>●&nbsp;&nbsp; &nbsp;Your questions, concerns, or complaints are not being answered by the research team.<br />
    ●&nbsp;&nbsp; &nbsp;You cannot reach the research team.<br />
    ●&nbsp;&nbsp; &nbsp;You want to talk to someone besides the research team.<br />
    ●&nbsp;&nbsp; &nbsp;You have questions about your rights as a research participant.<br />
    ●&nbsp;&nbsp; &nbsp;You want to get information or provide input about this research.<br />
    &nbsp;</p>

    <p><strong><em>You will be given a copy of this information to keep for your records.</em></strong><br />
        &nbsp;<br />

    {% load static %}
    <a href="{% static "docs/um_prolific_consent.pdf" %}"style="font-size:inherit" download="study_consent.pdf">Download a pdf copy of the consent form</a>
    </p>
    <br />

    <a id="to-task" href="{% url link_url %}">Consent to join study</a>
{% endblock %}